<div class="">
  <h1>Your Personalized Fridge!</h1>
  <button (mousedown)="getItems()">
    Get Items
  </button>
  <button (mousedown)="getShoppingList()">
    Get Shopping List
  </button>
  <div>
    <div class="fridgeItemForm">
      <form [formGroup]="makeFridgeItemForm" (ngSubmit)="addItem(makeFridgeItemForm)" novalidate>
        <div>
          <div>Item Name</div>
          <input formControlName="itemName" placeholder="Item Name">
        </div>
        <div>
          <div>Item UUID</div>
          <input formControlName="itemUUID" placeholder="Item UUID">
        </div>
        <div>
          <div>Item Type</div>
          <input formControlName="itemType" placeholder="Item Type">
        </div>
        <div>
          <div>Item Fill Amount</div>
          <input formControlName="fillFactor" placeholder="Fill Factor">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="shopping-list">
    <h2>Shopping List</h2>
    <div class="shopping-list-item" *ngFor="let item of shoppingList">
      <div>
        <div>Name: {{item.itemName}}</div>
        <div>Fill: {{item.fillFactor}}</div>
      </div>
    </div>
  </div>

  <div class="fridge">
    <h2>Fridge Items</h2>
    <div class="fridgeItem" *ngFor="let item of itemArray">
      <div>
        <div>Name: {{item.itemName}}</div>
        <div>UUID: {{item.itemUUID}}</div>
        <div>Type: {{item.itemType}}</div>
        <div>Fill: {{item.fillFactor}}</div>
      </div>
      <div class="removeItem" (click)="removeItem(item)">Remove</div>
      <div class="forgetItem" (click)="forgetItem(item)">Forget</div>
      <div class="forgetItem" (click)="getAverageFill(item)">Average Fill</div>
    </div>
  </div>
  <div class="fill-rate">
    <h2>Average Fill Rate of {{averageFillItem.itemName}} is {{averageFillAmount}}</h2>

  </div>
</div>
