.fridge {
  width:900px;
  position: relative;
  float:left;
  margin-left:50px;
}

.fridgeItem {
  float:left;
  width:280px;
  position: relative;
  margin:10px;

  > div {
    padding:10px;
    background-color: #ddd;
  }

  .removeItem {
    position: absolute;
    right:20px;
    top:20px;
    font-size:24px;
    color:red;
    cursor: pointer;
  }
}

.fridgeItemForm {
  width:300px;
}

.shopping-list {
  width:300px;
  float:left;
}

.shopping-list-item {
  float:left;
  width:280px;
  position: relative;
  margin:5px;

  > div {
    padding:10px;
    background-color: #ddd;
  }
}
