<div class="">
  <h1>Your Personalized Fridge!</h1>
  <div (mousedown)="getItems()">
    Get Items
  </div>
  <div>
    <h3>Items:</h3>
    <div class="fridgeItemForm">
      <form [formGroup]="makeFridgeItemForm" (ngSubmit)="addItem(makeFridgeItemForm)" novalidate>
        <div>
          <div>Item Name</div>
          <input formControlName="itemName" placeholder="Item Name">
        </div>
        <div>
          <div>Item UUID</div>
          <input formControlName="itemUUID" placeholder="Item UUID">
        </div>
        <div>
          <div>Item Type</div>
          <input formControlName="itemType" placeholder="Item Type">
        </div>
        <div>
          <div>Item Fill Amount</div>
          <input formControlName="fillFactor" placeholder="Fill Factor">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="fridge">
      <div class="fridgeItem" *ngFor="let item of itemArray">
        <div>
          <div>Name: {{item.itemName}}</div>
          <div>UUID: {{item.itemUUID}}</div>
          <div>Type: {{item.itemType}}</div>
          <div>Fill: {{item.fillFactor}}</div>
        </div>
        <div class="removeItem" (click)="removeItem(item)">X</div>
      </div>
    </div>
  </div>
</div>
